.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.side-bar::after {
	content: '';
	position: absolute;
	bottom: 80px;
	width: 100%;
	border: 0.5px solid #fff;
}

ul.side-bar > li:last-child.ant-menu-item {
	position: absolute;
	bottom: 20px;
	max-width: 100%;
}

.site-layout .site-layout-background {
	background: #fff;
}
